{% extends base_template %}

{% load staticfiles %}
{% load thumbnail %}

{% block content %}
<section id="list">
    {% for category in categories %}
        <div class="category_image">
            <a href="{% url 'material_subcategories' category.id %}"><span class="link_span"></span></a>
            {% if category.image %}
                {% thumbnail category.image.image "250x250" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ category.image.alt_text }}">
                {% endthumbnail %}
            {% endif %}
            <h5>{{ category.name }}</h5>
        </div>
    {% endfor %}
</section>
<script>
    ajaxifyLinks();
    setActiveLink('{{ active_link }}');
</script>
{% endblock %}