{% load staticfiles %}

<section id="bottom_box">
    <section id="blog">
        <h4>Blog</h4>
        {% for post in posts %}
            <article>
                <h5>{{ post.title }}</h5>
                <p>{{ post.text }}</p>
                <p>{{ post.date }}</p>
            </article>
        {% endfor %}
    </section>
    <section id="contact">
        <h4>Contact Me</h4>
        <form action="/contact/" method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" />
        </form>
    </section>
    <section id="gallery">
        <h4>My Gallery</h4>
    </section>
</section>