.subcategory-name {
    margin-bottom: 15px;
}

.subcategory-caption {
    margin-left: 40px;
}

.detail-image {
	width: 130px;
	height: 170px;
	display: inline-block;
	margin: 10px;
	text-align: center;
	position: relative;
}

.detail-link {
    cursor: pointer;
}

#images {
    text-align: center;
}