.subcategory_name {
    margin-bottom: 15px;
}

.subcategory_caption {
    margin-left: 40px;
}

.detail_image {
	width: 130px;
	height: 170px;
	display: inline-block;
	margin: 10px;
	text-align: center;
}

#images {
    text-align: center;
}