#caption {
	display: inline-block;
    margin-bottom: 10px;
}

#facts {
	width: 40%;
	float: right;
}

#facts li {
	display: list-item;
	list-style-type: disc;
	margin: 5px;
}

#facts a {
    text-decoration: underline;
    color: blue;
}

.center_content {
	text-align: center;
}

.detail_image_section {
    margin-top: 20px;
}

.section_image,
.title_image {
	display: inline-block;
	margin: 10px;
	text-align: center;
	position: relative;
}

.section_image {
    width: 130px;
	height: 130px;
}

.title_image {
    width: 600px;
    height: 480px;
}