#caption {
	width: 60%;
	display: inline-block;
}

#facts {
	width: 40%;
	float: right;
}

#facts li{
	display: list-item;
	list-style-type: disc;
	margin: 5px;
}

.center_content {
	text-align: center;
}