{% extends 'base.html' %}

{% load staticfiles %}
{% load thumbnail %}
{% block content %}
    <section id="detail">
        <h3>{{ detail.name }}</h3>
        <p>{{ detail.caption }}</p>
        <div>{{ detail.facts }}</div>
        {% if detail.title_image %}
            {% thumbnail detail.title_image.image "450x300" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ detail.title_image.alt_text }}">
            {% endthumbnail %}
        {% endif %}
        {% for section in detail.sections.active %}
            <div class="detail_image_section">
                <h5>{{ section.label }}</h5>
                {% for image in section.images.all %}
                    {% thumbnail image.image "130x130" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ image.image.alt_text }}">
                    {% endthumbnail %}
                {% endfor %}
            </div>
        {% endfor %}
        {% if detail.video_url %}
            <h4>Video</h4>

        {% endif %}
    </section>
{% endblock %}