body {
	background: #FFFFFF;
    font-family: 'caviar_dreamsregular';
}

a {
    text-decoration: none;
    color: #000000;
}

ul {
	list-style: none;
}

li {
	margin: 20px 20px 20px 20px;
}

li, #title_text, #menu {
	display: inline-block;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.active {
    border-bottom: 3px solid;
    border-bottom-color: #0099FF;
}

.clickable {
    cursor: pointer;
}

.link-span {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;

  /* edit: added z-index */
  z-index: 1;

  /* edit: fixes overlap error in IE7/8,
     make sure you have an empty gif */
  background-image: url('empty.gif');
}

#search-section {
    text-align: center;
}

#search-section input[type="submit"] {
    background: #2F2F3A;
    border: none;
    padding: 10px;
    color: #FFFFFF;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-weight: bold;
    box-shadow: 1px 1px 1px #3D3D3D;
    -webkit-box-shadow:1px 1px 1px #3D3D3D;
    -moz-box-shadow:1px 1px 1px #3D3D3D;
}

#search-section input[type="text"] {
    height: 30px;
}

#search-form {
    padding-bottom: 10px;
}

#results ul {
    padding: 10px;
    font-size: 20px;
}

#menu a:focus {
    outline: none;
}

#social-media-bar {
    background: #2F2F3A;
    height: 50px;
    overflow: hidden;
}

#social-media-bar ul {
    text-align: center;
    margin-top: 7px;
}

#social-media-bar li {
    display: inline;
}

#top_bar {
    text-align: center;
}

#title_text {
    width: 100%;
    height: 100px;
    margin-top: 15px;
    position: relative;
}

#title_text h1 {
	font-size: 50px;
	font-family: 'pwsimplehandwritingmedium';
}

#title_text h3 {
	color: #600;
	font-size: 25px;
	width: 70%;
	float: right;
}

#menu {
    width: 80%;
    margin-top: 20px;
    font-size: 30px;
}

#allpage {
	width: 1200px;
	margin: auto;
}

#content {
    padding: 50px 150px 50px 150px;
}

#bottom-box {
    width: 100%;
    height: 470px;
    background: #2F2F3A;
    color: #FFFFFF;
}

#bottom-box section {
    background: #2F2F3A;
    height: 450px;
    position: absolute;
    overflow: auto;
    margin: 10px;
}

#bottom-box section article {
    margin-top: 20px;
    margin-right: 40px;
}

#bottom-box section h3 {
    margin-left: 10px;
}

#bottom-box p {
    font-size: 14px;
}

#bottom-box #blog {
    left: 0;
    width: 33%;
}

#bottom-box #contact {
    left: 33%;
    width: 33%;
}

#bottom-box #gallery {
    left: 66%;
    width: 34%;
    margin-left: 0px;
}

#bottom-box #gallery img {
    margin: 2px;
}

footer {
	text-align: center;
	font-size: 10px;
}

#contact-form p,
#contact-form h2 {
    margin: 10px;
}

#contact-form {
    width: 455px;
}

#contact-form input[type="submit"] {
    float: right;
}

#captcha {
    margin-left: 10px;
}

/* Bottom box */

.tran1 {
    -o-transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.transparent {
    opacity: 0;
}
