body {
	background: #FFFFFF;
    font-family: 'caviar_dreamsregular';
}

a {
    text-decoration: none;
    color: #000000;
}

ul {
	list-style: none;
}

li {
	margin: 20px 20px 20px 20px;
}

li, #title_text, #menu {
	display: inline-block;
}

.active {
    border-bottom: 3px solid;
    border-bottom-color: #0099FF;
}

#social_media_bar {
    background: #2F2F3A;
    height: 50px;
    overflow: hidden;
}

#social_media_bar ul {
    text-align: center;
    margin-top: 7px;
}

#social_media_bar li {
    display: inline;
}

#bottom_box {
    height: 400px;
}

#top_bar, #list {
    text-align: center;
}

#title_text {
    width: 100%;
    height: 100px;
    margin-top: 15px;
}

#title_text h1 {
	font-size: 50px;
	font-family: 'pwsimplehandwritingmedium';
}

#title_text h3 {
	color: #600;
	font-size: 25px;
	width: 70%;
	float: right;
}

#menu {
    width: 80%;
    margin-top: 20px;
    font-size: 25px;
}

#allpage {
	width: 1200px;
	margin: auto;
}

#list {
    margin-top: 30px;
}

#list>div {
	width: 250px;
	height: 375px;
	display: inline-block;
	margin: 20px;
}

#list>div>p {
    color: black;
	font-size: 15px;
}

#list img {
	width: 250px;
	height: 350px;
}

#list>div>div {
	padding-top: 25px;
}

#bottom_box {
    width: 100%;
    height: 470px;
    background: #2F2F3A;
    color: #FFFFFF;
}

#bottom_box section {
    background: #2F2F3A;
    height: 450px;
    position: absolute;
    overflow: auto;
    margin: 10px;
}

#bottom_box section article {
    margin-top: 20px;
    margin-right: 40px;
}

#bottom_box section h3 {
    margin-left: 10px;
}

#bottom_box p {
    font-size: 14px;
}

#bottom_box #blog {
    left: 0;
    width: 40%;
}

#bottom_box #contact {
    left: 40%;
    width: 30%;
}

#bottom_box #gallery {
    left: 70%;
    width: 30%;
    margin-left: 0px;
}

#bottom_box #gallery img {
    margin: 2px;
}

footer {
	text-align: center;
	font-size: 10px;
}