<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
	<title>{{ subcategory.name }}</title>
</head>
<body>
<section id="full_page" class="full">

	<nav id="first_nav" class="center">
    </nav>

	<nav id="second_nav" class="left">
		<ul id="navlisttwo">
			<li><p><a href="">Contact</a></p></li>
			<li><p><a href="">Gallery</a></p></li>
			<li><p><a href="">About Me</a></p></li>
	    </ul>
    </nav>

    <nav id="third_nav" class="center">
		<ul id="navlist">
			<li><p><a href="">Home</a></p></li>
			<li><p><a href="">Form</a></p></li>
			<li><p><a href="">Cut</a></p></li>
			<li><p><a href="">Join</a></p></li>
			<li><p><a href="">Finish</a></p></li>
			<li><p><a href="">Materials</a></p></li>
	    </ul>
    </nav>

	<h1 id="center_text" class="left">Materials and Processes</h1>

    {% block content %}
    {% endblock %}

</section>

</body>
</html>

