<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <title>Home page</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block extrahead %}
    {% endblock %}
</head>

<body>
    {% include 'partials/top.html' %}

    {% block content %}
    {% endblock %}

    <footer class="center_text">
        <p>© Ashlee Wlasiuk 2014<br>
            All rights reserved
        </p>
    </footer>

    {% include 'partials/bottom.html' %}
</body>
