<!DOCTYPE html>
<head>
    {% load staticfiles %}
    {% load dajaxice_templatetags %}
    <meta charset="utf-8">
    <meta lang="en">
    <title>Materials and Processes</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/category/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/subcategory/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/detail/styles.css' %}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'dajax/jquery.dajax.core.js' %}"></script>
    <script src="{% static 'js/history/html4+html5/jquery.history.js' %}"></script>
    <script src="{% static 'js/main_page.js' %}"></script>
    {% dajaxice_js_import %}
    {% block extrahead %}
    {% endblock %}
</head>

<body>
    {% include 'partials/top.html' %}

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer class="center_text">
        <p>© Ashlee Wlasiuk 2014<br>
            All rights reserved
        </p>
    </footer>

    {% include 'partials/bottom.html' %}
    {% block extrascript %}
    <script>
        $(function() {

            // Prepare
            var History = window.History; // Note: We are using a capital H instead of a lower h
            if ( !History.enabled ) {
                 // History.js is disabled for this browser.
                 // This is because we can optionally choose to support HTML4 browsers or not.
                return false;
            }

            // Bind to StateChange Event
            History.Adapter.bind(window,'statechange',function() {
                var State = History.getState();
                if (State){
                    $('#content').load(State.url);
                }
            });

            // Capture all the links to push their url to the history stack and trigger the StateChange Event
            $('a').click(function(evt) {
                evt.preventDefault();
                History.pushState(null, $(this).text(), $(this).attr('href'));
            });
        });
    </script>
    {% endblock %}

</body>
