<section id="bottom-box" class="tran1">
    <section id="blog">
        <h4>Blog</h4>
        <img ng-src="{{ infoContactBarCtrl.staticUrl + '/images/coming-soon.png' }}" />
    </section>
    <section id="contact">
        <!--<contact-form></contact-form>-->
        <img ng-src="{{ infoContactBarCtrl.staticUrl + '/images/coming-soon.png' }}" />
    </section>
    <section id="gallery">
        <h4>My Gallery</h4>
        <img ng-src="{{ infoContactBarCtrl.staticUrl + '/images/coming-soon.png' }}" />
    </section>
</section>