<div id="social-media-bar">
    <ul>
        <li><img ng-src="{{ socialMediaCtrl.staticUrl + 'images/social_media/twitter.png' }}" alt="Twitter"></li>
        <li><img ng-src="{{ socialMediaCtrl.staticUrl + 'images/social_media/facebook.png' }}" alt="Facebook"></li>
        <li><img ng-src="{{ socialMediaCtrl.staticUrl + 'images/social_media/behance.png' }}" alt="Behance"></li>
        <li><img ng-src="{{ socialMediaCtrl.staticUrl + 'images/social_media/google+.png' }}" alt="Google Plus"></li>
        <li><img ng-src="{{ socialMediaCtrl.staticUrl + 'images/social_media/tumblr.png' }}" alt="Tumblr"></li>
    </ul>
</div>