{% load staticfiles %}
{% load thumbnail %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/subcategory/styles.css' %}">
{% endblock %}

<section id="subcategory_list">
    {% for subcategory in subcategories %}
        <h3 class="subcategory_name">{{ subcategory.name }}</h3>
        <p class="subcategory_caption">{{ subcategory.caption }}</p>
        <div id="images">
            {% for detail in subcategory.details.active %}
                <div class="clickable detail_image" onclick="Dajaxice.materials.get_detail(Dajax.process, {'detail_id': {{ detail.id }} });">
                    {% if detail.title_image %}
                        {% thumbnail detail.title_image.image "130x130" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ detail.title_image.alt_text }}">
                        {% endthumbnail %}
                        <h5>{{ detail.name }}</h5>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</section>